
<div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-hover sys_table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Nombre de Empresa</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th class="text-right">Gestionar</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr>

                            <td><a href="http://localhost/billing-platea21/?ng=contacts/view/1001/">1001</a> </td>

                            <td><a href="http://localhost/billing-platea21/?ng=contacts/view/1001/">rere</a> </td>
                            <td>rewrwe</td>

                            <td>
                                rei@gmail.com

                            </td>
                            <td>
                                432423`
                            </td>
                            <td class="text-right">
                                <a href="http://localhost/billing-platea21/?ng=contacts/view/1001/" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Ver</a>

                                <a href="http://localhost/billing-platea21/delete/crm-user/1001/" class="btn btn-danger btn-xs cdelete" id="uid1001"><i class="fa fa-trash"></i> Borrar</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<ul class="pagination pagination-xs">#}
                {#<li class="active"><a href="javascript:void(0);">1</a></li>#}
                {#<li class="disabled"><a class="disabled">Siguiente</a></li>#}
                {#<li class="disabled"><a class="disabled">Anterior</a></li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}


    {#<div id="ajax-modal" class="modal container fade" tabindex="-1" style="display: none;"></div>#}