# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    login_listener:
        class: NotifyBundle\EventListener\LoginListener
        arguments: ['@service_container']
        tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }
            - { name: kernel.event_listener, event: security.authentication.failure, method: onAuthenticationFailure }
            - { name: kernel.event_listener, event: fos_user.change_password.edit.completed, method: onPasswordChanged }

    util_manager:
        class: AppBundle\Manager\UtilManager
        arguments: ['@service_container']

    util.twig.extension:
        class: AppBundle\Twig\UtilExtension
        arguments: ["@service_container"]
        tags:
        - { name: twig.extension }

    tinymce.twig.extension:
        class: AppBundle\Twig\TinymceExtension
        arguments: ["@service_container"]
        tags:
        - { name: twig.extension }

    usuario_manager:
        class: AppBundle\Manager\UsuarioManager
        arguments: ['@service_container']

    issue_manager:
        class: AppBundle\Manager\IssueManager
        arguments: ['@service_container']

    requirement_manager:
       class: AppBundle\Manager\RequirementManager
       arguments: ['@service_container']

    changelog_manager:
       class: AppBundle\Manager\ChangelogManager
       arguments: ['@service_container']

    config_manager:
       class: AppBundle\Manager\ConfigManager
       arguments: ['@service_container']

    type.tags:
       class: AppBundle\Form\Type\TagsInputType
       calls:
          - [ setContainer, ['@doctrine.orm.entity_manager'] ]
       tags:
          - { name: form.type }