{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">

        <div class="login-brand text-center">
            <h3> Cambiar la Contraseña</h3>
            <h3 class="login-box-msg"> Usuario: {{ app.user.username }}</h3>
        </div>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="row">
            <!-- /.col -->
            <br>
            <div class="col-xs-12">
                <button type="submit" id="_submit" class="btn btn-primary btn-block btn-flat"> Confirmar</button>
            </div>
            <!-- /.col -->
        </div>

        {{ form_end(form) }}

</div>

