{% extends 'base.html.twig' %}

{% block title %}IssueTracker | Editar Usuario{% endblock %}

{% block headers %}Editar Usuario{% endblock %}

{% block stylesheets %}
    {#<link href="{{ asset('assets/vendor/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css" media="screen"/>#}
{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="col-md-12">

                <div class="ibox float-e-margins">
                    <div id="ibox_form" class="ibox-content">
                        <div id="emsg" class="alert alert-danger" style="display: none;">
                            <span id="emsgbody"></span>
                        </div>

                        {% include 'user/_form.html.twig' with {'form': edit_form, 'action_type' : 'button.edit'} %}

                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}